body {
    font-family: 'Poppins', sans-serif;
}

.banner {
    background-color: rgb(0, 0, 0);
    z-index: 9999;
    padding: 10px 0;
    min-height: 400px;
}

.banner>img {
    min-width: 250px;
}

img {
    max-width: 66% !important;
    display: block;
    margin: 0 auto
}

.banner-info {
    text-align: center;
    color: white;
    margin-left: 30px;
}

.banner-title {
    color: #ff2c6d;
    font-size: 57px;
    font-weight: 700;
}

.banner-description {
    font-size: 20px;
}